.elementor-15 .elementor-element.elementor-element-5c2a557 {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-15 .elementor-element.elementor-element-a2f2e1e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-a2f2e1e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-a2f2e1e>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-129043d>.elementor-widget-container {
    margin: 0% 36% 0% 0%;
}

.elementor-15 .elementor-element.elementor-element-66d082b>.elementor-widget-container {
    padding: 40px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-014c7dc>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 40px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-8f33f03>.elementor-widget-container {
    margin: 0px 0px 0px -15px;
    padding: 10px 275px 20px 0px;
}

.elementor-15 .elementor-element.elementor-element-6ac312c>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-602dd7f {
    margin-top: -140px;
    margin-bottom: 0px;
    z-index: 1;
}

.elementor-15 .elementor-element.elementor-element-d0ce89c>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-bfcbedb {
    padding: 110px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-70637bd>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-2a8f4ad>.elementor-widget-container {
    padding: 0px 0px 0px 50px;
}

.elementor-bc-flex-widget .elementor-15 .elementor-element.elementor-element-d84239e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-d84239e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-d84239e>.elementor-element-populated {
    padding: 0px 0px 40px 100px;
}

.elementor-15 .elementor-element.elementor-element-ba640b7>.elementor-widget-container {
    padding: 0px 0px 55px 0px;
}

.elementor-15 .elementor-element.elementor-element-fcb368e {
    padding: 130px 0px 320px 0px;
}

.elementor-15 .elementor-element.elementor-element-10ac91d>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-1465555:not(.elementor-motion-effects-element-type-background),
.elementor-15 .elementor-element.elementor-element-1465555>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #080054;
}

.elementor-15 .elementor-element.elementor-element-1465555 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-15 .elementor-element.elementor-element-1465555>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-15 .elementor-element.elementor-element-d1f8044.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-d1f8044.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-d1f8044>.elementor-element-populated {
    padding: 0% 28% 0% 0%;
}

.elementor-15 .elementor-element.elementor-element-9a1b039>.elementor-widget-container {
    padding: 0px 0px 30px 0px;
}

.elementor-15 .elementor-element.elementor-element-69782f6>.elementor-element-populated {
    margin: -180px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-639b569:not(.elementor-motion-effects-element-type-background),
.elementor-15 .elementor-element.elementor-element-639b569>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #080054;
}

.elementor-15 .elementor-element.elementor-element-639b569 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 125px 0px;
}

.elementor-15 .elementor-element.elementor-element-639b569>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15 .elementor-element.elementor-element-6cdd515>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-e6289e7>.elementor-widget-container {
    padding: 0px 0px 30px 0px;
}

.elementor-15 .elementor-element.elementor-element-a8e337e>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-207d6ee>.elementor-widget-container {
    padding: 0px 100px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-1c206f8>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-c4f9175>.elementor-widget-container {
    padding: 0px 100px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-58fba41>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-1935ffb>.elementor-widget-container {
    padding: 0px 80px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-d4c94dc>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-0543e72>.elementor-widget-container {
    padding: 0px 80px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-4bad5ba:not(.elementor-motion-effects-element-type-background),
.elementor-15 .elementor-element.elementor-element-4bad5ba>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #080054;
}

.elementor-15 .elementor-element.elementor-element-4bad5ba {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-4bad5ba>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15 .elementor-element.elementor-element-6e50247>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-0d22bc3:not(.elementor-motion-effects-element-type-background),
.elementor-15 .elementor-element.elementor-element-0d22bc3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #080054;
}

.elementor-15 .elementor-element.elementor-element-0d22bc3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-15 .elementor-element.elementor-element-0d22bc3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15 .elementor-element.elementor-element-132557e>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-fb3a5fd>.elementor-widget-container {
    padding: 0px 0px 30px 0px;
}

.elementor-15 .elementor-element.elementor-element-c3205d9:not(.elementor-motion-effects-element-type-background),
.elementor-15 .elementor-element.elementor-element-c3205d9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #080054;
}

.elementor-15 .elementor-element.elementor-element-c3205d9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 73px 0px 95px 0px;
}

.elementor-15 .elementor-element.elementor-element-c3205d9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15 .elementor-element.elementor-element-fd28295>.elementor-element-populated {
    padding: 0px 50px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-daf2513>.elementor-widget-container {
    padding: 0px 0px 40px 0px;
}

.elementor-15 .elementor-element.elementor-element-683d188>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-15 .elementor-element.elementor-element-7c6be23.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-7c6be23.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-7c6be23>.elementor-element-populated {
    padding: 0px 0px 0px 30px;
}

.elementor-15 .elementor-element.elementor-element-d1b5645>.elementor-element-populated {
    padding: 0px 40px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-3b6550a>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-a785e53 {
    padding: 90px 0px 5px 0px;
}

.elementor-15 .elementor-element.elementor-element-840b9dc>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-15 .elementor-element.elementor-element-efd30af.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-15 .elementor-element.elementor-element-efd30af.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-15 .elementor-element.elementor-element-efd30af>.elementor-element-populated {
    padding: 60px 80px 0px 80px;
}

.elementor-15 .elementor-element.elementor-element-dcd768d>.elementor-widget-container {
    padding: 0px 0px 40px 0px;
}

.elementor-15 .elementor-element.elementor-element-895130e {
    padding: 0px 0px 0px 0px;
    z-index: 2;
}

.elementor-15 .elementor-element.elementor-element-fa54ebb>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-d7ab1f2>.elementor-widget-container {
    margin: 0px 0px -280px 0px;
}

.elementor-15 .elementor-element.elementor-element-8eb19d8:not(.elementor-motion-effects-element-type-background),
.elementor-15 .elementor-element.elementor-element-8eb19d8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #080054;
    background-image: url("../../2023/01/main-backgound-img-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-15 .elementor-element.elementor-element-8eb19d8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 280px 0px 0px 0px;
    z-index: 0;
}

.elementor-15 .elementor-element.elementor-element-8eb19d8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-15 .elementor-element.elementor-element-c1e8878.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-c1e8878.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-15 .elementor-element.elementor-element-c1e8878>.elementor-element-populated {
    padding: 0% 7% 0% 0%;
}

.elementor-15 .elementor-element.elementor-element-4b4b8aa>.elementor-widget-container {
    padding: 140px 0px 130px 0px;
}

.elementor-15 .elementor-element.elementor-element-81941ed {
    margin-top: 148px;
    margin-bottom: 145px;
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-8950a1b>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 110px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-514f0f1>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-9b2f988 {
    padding: 0px 0px 0px 0px;
    z-index: 1;
}

.elementor-15 .elementor-element.elementor-element-be36229.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-15 .elementor-element.elementor-element-be36229>.elementor-element-populated {
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-b1e7d99>.elementor-widget-container {
    padding: 0% 0% 0% 0%;
}

.elementor-15 .elementor-element.elementor-element-05e0b9d>.elementor-widget-container {
    padding: 40px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-05e0b9d {
    width: auto;
    max-width: auto;
}

.elementor-15 .elementor-element.elementor-element-64e6893 {
    margin-top: -182px;
    margin-bottom: 0px;
    padding: 0px 180px 0px 0px;
    z-index: 0;
}

.elementor-15 .elementor-element.elementor-element-bfdf7ae.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-15 .elementor-element.elementor-element-bfdf7ae>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-0c8d3d7 {
    width: auto;
    max-width: auto;
}

@media(max-width:1440px) {
    .elementor-15 .elementor-element.elementor-element-129043d>.elementor-widget-container {
        margin: 0% 20% 0% 0%;
    }

    .elementor-15 .elementor-element.elementor-element-8f33f03>.elementor-widget-container {
        margin: 0px 0px 0px -6px;
        padding: 10px 160px 20px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-602dd7f {
        margin-top: -65px;
        margin-bottom: 0px;
    }

    .elementor-15 .elementor-element.elementor-element-2a8f4ad>.elementor-widget-container {
        padding: 0px 0px 0px 40px;
    }

    .elementor-15 .elementor-element.elementor-element-d84239e>.elementor-element-populated {
        padding: 0px 0px 40px 70px;
    }

    .elementor-15 .elementor-element.elementor-element-fd28295>.elementor-element-populated {
        padding: 0px 40px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-a785e53 {
        padding: 100px 0px 60px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-efd30af>.elementor-element-populated {
        padding: 40px 0px 0px 50px;
    }

    .elementor-15 .elementor-element.elementor-element-c1e8878>.elementor-element-populated {
        padding: 0px 0px 0px 1px;
    }

    .elementor-15 .elementor-element.elementor-element-8950a1b>.elementor-element-populated {
        padding: 0px 80px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-64e6893 {
        padding: 0px 110px 0px 0px;
    }
}

@media(max-width:1024px) {
    .elementor-15 .elementor-element.elementor-element-a2f2e1e>.elementor-element-populated {
        padding: 80px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-66d082b>.elementor-widget-container {
        padding: 40px 80px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-8f33f03>.elementor-widget-container {
        margin: 0px 0px 0px -15px;
        padding: 10px 550px 20px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-bfcbedb {
        padding: 80px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-d84239e>.elementor-element-populated {
        padding: 50px 145px 0px 145px;
    }

    .elementor-15 .elementor-element.elementor-element-d1f8044>.elementor-element-populated {
        padding: 0px 30px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-58fba41>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-d4c94dc>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }

    .elementor-bc-flex-widget .elementor-15 .elementor-element.elementor-element-fd28295.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-15 .elementor-element.elementor-element-fd28295.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-15 .elementor-element.elementor-element-fd28295.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-15 .elementor-element.elementor-element-fd28295>.elementor-element-populated {
        padding: 0px 0px 50px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-daf2513>.elementor-widget-container {
        padding: 0px 130px 40px 215px;
    }

    .elementor-bc-flex-widget .elementor-15 .elementor-element.elementor-element-683d188.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-15 .elementor-element.elementor-element-683d188.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-15 .elementor-element.elementor-element-683d188.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-15 .elementor-element.elementor-element-6bd3d9c {
        width: auto;
        max-width: auto;
    }

    .elementor-15 .elementor-element.elementor-element-7c6be23.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-15 .elementor-element.elementor-element-7c6be23>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-eb4272b>.elementor-widget-container {
        padding: 30px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-eb4272b {
        width: auto;
        max-width: auto;
    }

    .elementor-15 .elementor-element.elementor-element-efd30af>.elementor-element-populated {
        padding: 25px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-8950a1b>.elementor-element-populated {
        margin: 0px 0px 54px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-64e6893 {
        padding: 0% 3% 0% 78%;
    }
}

@media(max-width:880px) {
    .elementor-15 .elementor-element.elementor-element-66d082b>.elementor-widget-container {
        padding: 40px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-8f33f03>.elementor-widget-container {
        margin: 0px 0px 0px -13px;
        padding: 10px 300px 20px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-d84239e>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-1465555 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-15 .elementor-element.elementor-element-d1f8044>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 50px 50px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-69782f6>.elementor-element-populated {
        margin: -180px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-15 .elementor-element.elementor-element-58fba41>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-d4c94dc>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-daf2513>.elementor-widget-container {
        padding: 0px 90px 40px 100px;
    }

    .elementor-15 .elementor-element.elementor-element-efd30af>.elementor-element-populated {
        padding: 10px 0px 0px 50px;
    }

    .elementor-15 .elementor-element.elementor-element-64e6893 {
        padding: 21% 0% 0% 0%;
    }
}

@media(max-width:767px) {
    .elementor-15 .elementor-element.elementor-element-a2f2e1e>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-129043d>.elementor-widget-container {
        margin: 0% 0% 0% 0%;
    }

    .elementor-15 .elementor-element.elementor-element-66d082b>.elementor-widget-container {
        padding: 40px 40px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-014c7dc>.elementor-widget-container {
        padding: 30px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-8f33f03>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 10px 0px 20px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-8f33f03 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-15 .elementor-element.elementor-element-70637bd>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-15 .elementor-element.elementor-element-2a8f4ad>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-fcb368e {
        padding: 130px 0px 270px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-c4f9175>.elementor-widget-container {
        padding: 40px 100px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-6e50247>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-e0f4b09>.elementor-widget-container {
        padding: 0px 30px 0px 30px;
    }

    .elementor-15 .elementor-element.elementor-element-daf2513>.elementor-widget-container {
        padding: 0px 0px 40px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-683d188 {
        width: 50%;
    }

    .elementor-15 .elementor-element.elementor-element-683d188.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }

    .elementor-15 .elementor-element.elementor-element-7c6be23 {
        width: 50%;
    }

    .elementor-15 .elementor-element.elementor-element-7c6be23>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-eb4272b>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-d1b5645>.elementor-element-populated {
        padding: 10px 0px 30px 0px;
    }

    .elementor-15 .elementor-element.elementor-element-efd30af>.elementor-element-populated {
        padding: 10px 0px 0px 30px;
    }

    .elementor-15 .elementor-element.elementor-element-8950a1b>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-15 .elementor-element.elementor-element-64e6893 {
        padding: 60% 14% 0% 22%;
    }
}

@media(min-width:768px) {
    .elementor-15 .elementor-element.elementor-element-a2f2e1e {
        width: 38%;
    }

    .elementor-15 .elementor-element.elementor-element-6ac312c {
        width: 62%;
    }

    .elementor-15 .elementor-element.elementor-element-70637bd {
        width: 59.852%;
    }

    .elementor-15 .elementor-element.elementor-element-d84239e {
        width: 40%;
    }

    .elementor-15 .elementor-element.elementor-element-683d188 {
        width: 39.151%;
    }

    .elementor-15 .elementor-element.elementor-element-7c6be23 {
        width: 60.847%;
    }

    .elementor-15 .elementor-element.elementor-element-840b9dc {
        width: 62.885%;
    }

    .elementor-15 .elementor-element.elementor-element-efd30af {
        width: 37%;
    }
}

@media(max-width:1440px) and (min-width:768px) {
    .elementor-15 .elementor-element.elementor-element-a2f2e1e {
        width: 40%;
    }

    .elementor-15 .elementor-element.elementor-element-6ac312c {
        width: 60%;
    }

    .elementor-15 .elementor-element.elementor-element-683d188 {
        width: 58%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-15 .elementor-element.elementor-element-a2f2e1e {
        width: 100%;
    }

    .elementor-15 .elementor-element.elementor-element-6ac312c {
        width: 100%;
    }

    .elementor-15 .elementor-element.elementor-element-70637bd {
        width: 100%;
    }

    .elementor-15 .elementor-element.elementor-element-d84239e {
        width: 100%;
    }

    .elementor-15 .elementor-element.elementor-element-a8e337e {
        width: 50%;
    }

    .elementor-15 .elementor-element.elementor-element-1c206f8 {
        width: 50%;
    }

    .elementor-15 .elementor-element.elementor-element-58fba41 {
        width: 50%;
    }

    .elementor-15 .elementor-element.elementor-element-d4c94dc {
        width: 50%;
    }

    .elementor-15 .elementor-element.elementor-element-fd28295 {
        width: 100%;
    }

    .elementor-15 .elementor-element.elementor-element-683d188 {
        width: 100%;
    }

    .elementor-15 .elementor-element.elementor-element-7c6be23 {
        width: 100%;
    }

    .elementor-15 .elementor-element.elementor-element-d1b5645 {
        width: 50%;
    }

    .elementor-15 .elementor-element.elementor-element-3b6550a {
        width: 50%;
    }

    .elementor-15 .elementor-element.elementor-element-8950a1b {
        width: 100%;
    }

    .elementor-15 .elementor-element.elementor-element-514f0f1 {
        width: 100%;
    }
}

@media(max-width:880px) and (min-width:768px) {
    .elementor-15 .elementor-element.elementor-element-d1f8044 {
        width: 100%;
    }

    .elementor-15 .elementor-element.elementor-element-69782f6 {
        width: 100%;
    }

    .elementor-15 .elementor-element.elementor-element-a8e337e {
        width: 50%;
    }

    .elementor-15 .elementor-element.elementor-element-1c206f8 {
        width: 50%;
    }

    .elementor-15 .elementor-element.elementor-element-58fba41 {
        width: 50%;
    }

    .elementor-15 .elementor-element.elementor-element-d4c94dc {
        width: 50%;
    }

    .elementor-15 .elementor-element.elementor-element-840b9dc {
        width: 100%;
    }

    .elementor-15 .elementor-element.elementor-element-efd30af {
        width: 100%;
    }
}