.elementor-2699 .elementor-element.elementor-element-6b14351>.elementor-container {
    max-width: 1920px;
}

.elementor-2699 .elementor-element.elementor-element-6b14351>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2699 .elementor-element.elementor-element-6b14351 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 45px 0px 45px;
}

.elementor-2699 .elementor-element.elementor-element-6b14351>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2699 .elementor-element.elementor-element-01a44ed>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2699 .elementor-element.elementor-element-9fd6196>.elementor-container {
    min-height: 605px;
}

.elementor-2699 .elementor-element.elementor-element-9fd6196>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2699 .elementor-element.elementor-element-9fd6196:not(.elementor-motion-effects-element-type-background),
.elementor-2699 .elementor-element.elementor-element-9fd6196>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../../images/contact-background.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2699 .elementor-element.elementor-element-9fd6196 {
    border-style: none;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2699 .elementor-element.elementor-element-9fd6196>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2699 .elementor-element.elementor-element-3957de6>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2699 .elementor-element.elementor-element-9458ee6 {
    --spacer-size: 21px;
}

.elementor-2699 .elementor-element.elementor-element-faf9143 {
    text-align: left;
}

.elementor-2699 .elementor-element.elementor-element-faf9143 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 27px;
}

.elementor-2699 .elementor-element.elementor-element-e4d6038 {
    margin-top: -43px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2699 .elementor-element.elementor-element-026d388>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2699 .elementor-element.elementor-element-bf26ee5 {
    text-align: center;
}

.elementor-2699 .elementor-element.elementor-element-411879c>.elementor-container {
    max-width: 1330px;
}

.elementor-2699 .elementor-element.elementor-element-411879c .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 15px;
}

.elementor-2699 .elementor-element.elementor-element-411879c {
    margin-top: 0px;
    margin-bottom: 90px;
    padding: 0px 0px 0px 0px;
}

.elementor-2699 .elementor-element.elementor-element-67f6570 {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 0;
}

.elementor-2699 .elementor-element.elementor-element-67f6570,
.elementor-2699 .elementor-element.elementor-element-67f6570>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-2699 .elementor-element.elementor-element-67f6570>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2699 .elementor-element.elementor-element-f8f0f07.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-2699 .elementor-element.elementor-element-f8f0f07>.elementor-element-populated,
.elementor-2699 .elementor-element.elementor-element-f8f0f07>.elementor-element-populated>.elementor-background-overlay,
.elementor-2699 .elementor-element.elementor-element-f8f0f07>.elementor-background-slideshow {
    border-radius: 15px 15px 15px 15px;
}

.elementor-2699 .elementor-element.elementor-element-f8f0f07>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2699 .elementor-element.elementor-element-0940712:not(.elementor-motion-effects-element-type-background),
.elementor-2699 .elementor-element.elementor-element-0940712>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FAF9FF;
}

.elementor-2699 .elementor-element.elementor-element-0940712,
.elementor-2699 .elementor-element.elementor-element-0940712>.elementor-background-overlay {
    border-radius: 30px 30px 0px 0px;
}

.elementor-2699 .elementor-element.elementor-element-0940712 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2699 .elementor-element.elementor-element-0940712>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-2699 .elementor-element.elementor-element-d55d684.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2699 .elementor-element.elementor-element-d55d684.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2699 .elementor-element.elementor-element-d55d684.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-2699 .elementor-element.elementor-element-d55d684>.elementor-element-populated,
.elementor-2699 .elementor-element.elementor-element-d55d684>.elementor-element-populated>.elementor-background-overlay,
.elementor-2699 .elementor-element.elementor-element-d55d684>.elementor-background-slideshow {
    border-radius: 15px 0px 0px 15px;
}

.elementor-2699 .elementor-element.elementor-element-d55d684>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 49px 0px 21px 0px;
}

.elementor-2699 .elementor-element.elementor-element-d55d684>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2699 .elementor-element.elementor-element-318585d {
    text-align: center;
}

.elementor-2699 .elementor-element.elementor-element-318585d>.elementor-widget-container {
    margin: 0px 0px -23px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2699 .elementor-element.elementor-element-9a94308 {
    text-align: center;
    width: var(--container-widget-width, 48%);
    max-width: 48%;
    --container-widget-width: 48%;
    --container-widget-flex-grow: 0;
}

.elementor-2699 .elementor-element.elementor-element-9a94308 .elementor-heading-title {
    font-size: 18px;
    line-height: 27px;
}

.elementor-2699 .elementor-element.elementor-element-9a94308>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2699 .elementor-element.elementor-element-7ca54c4 {
    --spacer-size: 33px;
}

.elementor-2699 .elementor-element.elementor-element-3726131>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2699 .elementor-element.elementor-element-3726131 {
    width: var(--container-widget-width, 860px);
    max-width: 860px;
    --container-widget-width: 860px;
    --container-widget-flex-grow: 0;
}

.elementor-2699 .elementor-element.elementor-element-11a03ef>.elementor-widget-container {
    margin: 25px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2699 .elementor-element.elementor-element-11a03ef {
    width: auto;
    max-width: auto;
    z-index: 20;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2699 .elementor-element.elementor-element-8e6c469 {
        width: 100%;
    }

    .elementor-2699 .elementor-element.elementor-element-c88da25 {
        width: 100%;
    }

    .elementor-2699 .elementor-element.elementor-element-26b2aaa {
        width: 100%;
    }
}

@media(max-width:1440px) {
    .elementor-2699 .elementor-element.elementor-element-6b14351>.elementor-container {
        max-width: 1600px;
    }

    .elementor-2699 .elementor-element.elementor-element-6b14351 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 40px 0px 40px;
    }

    .elementor-2699 .elementor-element.elementor-element-9fd6196>.elementor-container {
        min-height: 415px;
    }

    .elementor-2699 .elementor-element.elementor-element-9fd6196:not(.elementor-motion-effects-element-type-background),
    .elementor-2699 .elementor-element.elementor-element-9fd6196>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .elementor-2699 .elementor-element.elementor-element-9fd6196 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2699 .elementor-element.elementor-element-411879c>.elementor-container {
        max-width: 1130px;
    }

    .elementor-2699 .elementor-element.elementor-element-67f6570 {
        padding: 0px 60px 0px 60px;
    }
}

@media(max-width:1024px) {
    .elementor-2699 .elementor-element.elementor-element-6b14351 {
        padding: 0% 7% 0% 7%;
    }

    .elementor-2699 .elementor-element.elementor-element-9fd6196>.elementor-container {
        min-height: 450px;
    }

    .elementor-2699 .elementor-element.elementor-element-9fd6196:not(.elementor-motion-effects-element-type-background),
    .elementor-2699 .elementor-element.elementor-element-9fd6196>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-image: url("../../../../images/contact-bg-mobile.png");
        background-position: top center;
        background-size: cover;
    }

    .elementor-2699 .elementor-element.elementor-element-9fd6196,
    .elementor-2699 .elementor-element.elementor-element-9fd6196>.elementor-background-overlay {
        border-radius: 0px 0px 30px 30px;
    }

    .elementor-2699 .elementor-element.elementor-element-9fd6196 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2699 .elementor-element.elementor-element-3957de6>.elementor-element-populated {
        margin: 70px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2699 .elementor-element.elementor-element-e4d6038 {
        margin-top: 60px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2699 .elementor-element.elementor-element-411879c .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
        padding: 0px;
    }

    .elementor-2699 .elementor-element.elementor-element-411879c {
        padding: 0% 7% 0% 7%;
    }

    .elementor-2699 .elementor-element.elementor-element-8e6c469>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2699 .elementor-element.elementor-element-c88da25>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2699 .elementor-element.elementor-element-67f6570 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2699 .elementor-element.elementor-element-9a94308 {
        width: var(--container-widget-width, 56%);
        max-width: 56%;
        --container-widget-width: 56%;
        --container-widget-flex-grow: 0;
    }

    .elementor-2699 .elementor-element.elementor-element-3726131 {
        width: var(--container-widget-width, 82%);
        max-width: 82%;
        --container-widget-width: 82%;
        --container-widget-flex-grow: 0;
    }

    .elementor-2699 .elementor-element.elementor-element-11a03ef>.elementor-widget-container {
        margin: 125px 0px 0px 0px;
    }

    .elementor-2699 .elementor-element.elementor-element-11a03ef {
        width: var(--container-widget-width, 32%);
        max-width: 32%;
        --container-widget-width: 32%;
        --container-widget-flex-grow: 0;
    }
}

@media(max-width:767px) {
    .elementor-2699 .elementor-element.elementor-element-9fd6196>.elementor-container {
        min-height: 650px;
    }

    .elementor-2699 .elementor-element.elementor-element-9a94308 {
        width: var(--container-widget-width, 86%);
        max-width: 86%;
        --container-widget-width: 86%;
        --container-widget-flex-grow: 0;
    }
}