.elementor-574 .elementor-element.elementor-element-5c2a557:not(.elementor-motion-effects-element-type-background),
.elementor-574 .elementor-element.elementor-element-5c2a557>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #E8EDFD 0%, #EAEAFC 100%);
}

.elementor-574 .elementor-element.elementor-element-5c2a557 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
    z-index: 1;
}

.elementor-574 .elementor-element.elementor-element-5c2a557>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-574 .elementor-element.elementor-element-a2f2e1e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-574 .elementor-element.elementor-element-a2f2e1e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-574 .elementor-element.elementor-element-a2f2e1e>.elementor-element-populated {
    padding: 55px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-cec2e59>.elementor-widget-container {
    padding: 40px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-74fffc7 {
    font-size: 18px;
    line-height: 26px;
}

.elementor-574 .elementor-element.elementor-element-74fffc7>.elementor-widget-container {
    padding: 35px 100px 13px 0px;
}

.elementor-574 .elementor-element.elementor-element-e22fa75 {
    padding: 30px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-683d188>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-574 .elementor-element.elementor-element-7c6be23.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-574 .elementor-element.elementor-element-7c6be23.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-574 .elementor-element.elementor-element-7c6be23>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-6ac312c>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-fcb368e:not(.elementor-motion-effects-element-type-background),
.elementor-574 .elementor-element.elementor-element-fcb368e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/02/h3-img-5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-574 .elementor-element.elementor-element-fcb368e>.elementor-background-overlay {
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-574 .elementor-element.elementor-element-fcb368e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -15px;
    margin-bottom: 0px;
    padding: 160px 0px 150px 0px;
}

.elementor-574 .elementor-element.elementor-element-10ac91d>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-129043d>.elementor-widget-container {
    padding: 35px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-7ea9e98:not(.elementor-motion-effects-element-type-background),
.elementor-574 .elementor-element.elementor-element-7ea9e98>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #010833;
}

.elementor-574 .elementor-element.elementor-element-7ea9e98 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 40px 0px;
}

.elementor-574 .elementor-element.elementor-element-7ea9e98>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-574 .elementor-element.elementor-element-202dc52.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-574 .elementor-element.elementor-element-202dc52>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-bdbbc34>.elementor-widget-container {
    margin: -70px 0px 0px 0px;
    padding: 0px 240px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-bdbbc34 {
    width: auto;
    max-width: auto;
}

.elementor-574 .elementor-element.elementor-element-4bad5ba:not(.elementor-motion-effects-element-type-background),
.elementor-574 .elementor-element.elementor-element-4bad5ba>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #010833;
}

.elementor-574 .elementor-element.elementor-element-4bad5ba {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-4bad5ba>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-574 .elementor-element.elementor-element-6e50247>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-e0f4b09>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-7d2e4f2:not(.elementor-motion-effects-element-type-background),
.elementor-574 .elementor-element.elementor-element-7d2e4f2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #010833;
}

.elementor-574 .elementor-element.elementor-element-7d2e4f2 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-7d2e4f2>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-574 .elementor-element.elementor-element-1159eea>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-fb22dcf:not(.elementor-motion-effects-element-type-background),
.elementor-574 .elementor-element.elementor-element-fb22dcf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #010833;
}

.elementor-574 .elementor-element.elementor-element-fb22dcf {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 130px 0px;
}

.elementor-574 .elementor-element.elementor-element-fb22dcf>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-574 .elementor-element.elementor-element-efec915>.elementor-element-populated {
    padding: 0px 60px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-f8f4e53>.elementor-widget-container {
    margin: -23px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-6150698>.elementor-widget-container {
    padding: 10px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-903d72c>.elementor-element-populated {
    padding: 0px 50px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-3b0a85e>.elementor-widget-container {
    margin: -23px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-d18c86c>.elementor-widget-container {
    padding: 10px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-6d69fef>.elementor-element-populated {
    padding: 0px 50px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-72ce3d7>.elementor-widget-container {
    margin: -23px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-217ba98>.elementor-widget-container {
    padding: 10px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-bfcbedb:not(.elementor-motion-effects-element-type-background),
.elementor-574 .elementor-element.elementor-element-bfcbedb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/03/h3-img-7.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-574 .elementor-element.elementor-element-bfcbedb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 140px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-bfcbedb>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-574 .elementor-element.elementor-element-70637bd>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-574 .elementor-element.elementor-element-d84239e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-574 .elementor-element.elementor-element-d84239e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-574 .elementor-element.elementor-element-d84239e>.elementor-element-populated {
    padding: 0px 115px 40px 100px;
}

.elementor-574 .elementor-element.elementor-element-ba640b7>.elementor-widget-container {
    padding: 0px 0px 55px 0px;
}

.elementor-574 .elementor-element.elementor-element-9542041>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-f5ee83a>.elementor-widget-container {
    padding: 15px 0px 15px 0px;
}

.elementor-574 .elementor-element.elementor-element-6105e0c>.elementor-widget-container {
    padding: 40px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-86f9d93:not(.elementor-motion-effects-element-type-background),
.elementor-574 .elementor-element.elementor-element-86f9d93>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/03/h3-img-8.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-574 .elementor-element.elementor-element-86f9d93 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 85px 0px 110px 0px;
}

.elementor-574 .elementor-element.elementor-element-86f9d93>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-574 .elementor-element.elementor-element-225f298>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-4b4b8aa>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-498e413 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 80px 0px 158px 0px;
}

.elementor-574 .elementor-element.elementor-element-efd30af>.elementor-element-populated {
    padding: 0px 165px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-dcd768d>.elementor-widget-container {
    padding: 0px 0px 35px 0px;
}

.elementor-574 .elementor-element.elementor-element-6879719>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-c9330ea>.elementor-widget-container {
    margin: 0px -60px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-f3400c0 {
    padding: 0px 110px 0px 110px;
}

.elementor-574 .elementor-element.elementor-element-515c0ca:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-574 .elementor-element.elementor-element-515c0ca>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0a0690;
}

.elementor-574 .elementor-element.elementor-element-515c0ca>.elementor-element-populated,
.elementor-574 .elementor-element.elementor-element-515c0ca>.elementor-element-populated>.elementor-background-overlay,
.elementor-574 .elementor-element.elementor-element-515c0ca>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-574 .elementor-element.elementor-element-515c0ca>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-515c0ca>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-574 .elementor-element.elementor-element-23c23c9.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-574 .elementor-element.elementor-element-23c23c9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-574 .elementor-element.elementor-element-23c23c9.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-574 .elementor-element.elementor-element-23c23c9>.elementor-element-populated {
    padding: 50px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-c1845bd>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-c1845bd {
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-574 .elementor-element.elementor-element-35dc297.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-574 .elementor-element.elementor-element-35dc297.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-574 .elementor-element.elementor-element-35dc297>.elementor-element-populated {
    padding: 0% 38% 0% 0%;
}

.elementor-574 .elementor-element.elementor-element-7ee7d0b>.elementor-widget-container {
    padding: 0px 60px 35px 0px;
}

.elementor-574 .elementor-element.elementor-element-0409981>.elementor-widget-container {
    padding: 0px 14px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-0409981 {
    width: auto;
    max-width: auto;
}

.elementor-574 .elementor-element.elementor-element-739f858 {
    width: auto;
    max-width: auto;
}

.elementor-574 .elementor-element.elementor-element-fffe84e .elementor-star-rating {
    font-size: 16px;
}

body:not(.rtl) .elementor-574 .elementor-element.elementor-element-fffe84e .elementor-star-rating i:not(:last-of-type) {
    margin-right: 2px;
}

body.rtl .elementor-574 .elementor-element.elementor-element-fffe84e .elementor-star-rating i:not(:last-of-type) {
    margin-left: 2px;
}

.elementor-574 .elementor-element.elementor-element-fffe84e .elementor-star-rating i:before {
    color: #FFFFFF;
}

.elementor-574 .elementor-element.elementor-element-fffe84e>.elementor-widget-container {
    padding: 22px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-fffe84e {
    width: auto;
    max-width: auto;
}

.elementor-574 .elementor-element.elementor-element-a825a8f>.elementor-widget-container {
    padding: 22px 0px 0px 15px;
}

.elementor-574 .elementor-element.elementor-element-a825a8f {
    width: auto;
    max-width: auto;
}

.elementor-574 .elementor-element.elementor-element-b62c18e:not(.elementor-motion-effects-element-type-background),
.elementor-574 .elementor-element.elementor-element-b62c18e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #E8EDFD 0%, #ECE8FC 100%);
}

.elementor-574 .elementor-element.elementor-element-b62c18e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 130px 0px 150px 0px;
    z-index: 1;
}

.elementor-574 .elementor-element.elementor-element-b62c18e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-574 .elementor-element.elementor-element-1f9ef69.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-574 .elementor-element.elementor-element-1f9ef69.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-574 .elementor-element.elementor-element-1f9ef69>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-f6e01b0>.elementor-widget-container {
    padding: 0px 80px 25px 0px;
}

.elementor-574 .elementor-element.elementor-element-4e9ccdd>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-e4627c2>.elementor-widget-container {
    margin: 0px 0px -18px 0px;
}

.elementor-574 .elementor-element.elementor-element-98f89d1>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 4px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-31936ca>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-dde87b3>.elementor-widget-container {
    margin: 0px 0px -18px 0px;
}

.elementor-574 .elementor-element.elementor-element-9f5fcc6>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 4px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-87f3c3b>.elementor-widget-container {
    padding: 15px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-0acd5cd>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-a785e53>.elementor-container {
    min-height: 600px;
}

.elementor-574 .elementor-element.elementor-element-a785e53:not(.elementor-motion-effects-element-type-background),
.elementor-574 .elementor-element.elementor-element-a785e53>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/01/h3-img-4.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-574 .elementor-element.elementor-element-a785e53 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 0px 150px 0px;
    z-index: 0;
}

.elementor-574 .elementor-element.elementor-element-a785e53>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-574 .elementor-element.elementor-element-840b9dc>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-76beb52 {
    text-align: center;
}

.elementor-574 .elementor-element.elementor-element-76beb52>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-574 .elementor-element.elementor-element-d5d1c9b>.elementor-widget-container {
    padding: 0% 20% 0% 20%;
}

@media(min-width:768px) {
    .elementor-574 .elementor-element.elementor-element-a2f2e1e {
        width: 38%;
    }

    .elementor-574 .elementor-element.elementor-element-683d188 {
        width: 33%;
    }

    .elementor-574 .elementor-element.elementor-element-7c6be23 {
        width: 66.998%;
    }

    .elementor-574 .elementor-element.elementor-element-6ac312c {
        width: 62%;
    }

    .elementor-574 .elementor-element.elementor-element-70637bd {
        width: 56%;
    }

    .elementor-574 .elementor-element.elementor-element-d84239e {
        width: 43.852%;
    }

    .elementor-574 .elementor-element.elementor-element-efd30af {
        width: 42%;
    }

    .elementor-574 .elementor-element.elementor-element-6879719 {
        width: 58%;
    }

    .elementor-574 .elementor-element.elementor-element-23c23c9 {
        width: 56.676%;
    }

    .elementor-574 .elementor-element.elementor-element-35dc297 {
        width: 43.189%;
    }

    .elementor-574 .elementor-element.elementor-element-1f9ef69 {
        width: 100%;
    }

    .elementor-574 .elementor-element.elementor-element-4e9ccdd {
        width: 55%;
    }

    .elementor-574 .elementor-element.elementor-element-31936ca {
        width: 45%;
    }

    .elementor-574 .elementor-element.elementor-element-0acd5cd {
        width: 25%;
    }
}

@media(max-width:1440px) and (min-width:768px) {
    .elementor-574 .elementor-element.elementor-element-a2f2e1e {
        width: 38%;
    }

    .elementor-574 .elementor-element.elementor-element-683d188 {
        width: 58%;
    }

    .elementor-574 .elementor-element.elementor-element-23c23c9 {
        width: 50%;
    }

    .elementor-574 .elementor-element.elementor-element-35dc297 {
        width: 50%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-574 .elementor-element.elementor-element-a2f2e1e {
        width: 100%;
    }

    .elementor-574 .elementor-element.elementor-element-683d188 {
        width: 24%;
    }

    .elementor-574 .elementor-element.elementor-element-7c6be23 {
        width: 50%;
    }

    .elementor-574 .elementor-element.elementor-element-6ac312c {
        width: 100%;
    }

    .elementor-574 .elementor-element.elementor-element-70637bd {
        width: 100%;
    }

    .elementor-574 .elementor-element.elementor-element-d84239e {
        width: 100%;
    }

    .elementor-574 .elementor-element.elementor-element-efd30af {
        width: 100%;
    }

    .elementor-574 .elementor-element.elementor-element-6879719 {
        width: 100%;
    }

    .elementor-574 .elementor-element.elementor-element-23c23c9 {
        width: 50%;
    }

    .elementor-574 .elementor-element.elementor-element-1f9ef69 {
        width: 100%;
    }

    .elementor-574 .elementor-element.elementor-element-0acd5cd {
        width: 100%;
    }
}

@media(max-width:880px) and (min-width:768px) {
    .elementor-574 .elementor-element.elementor-element-683d188 {
        width: 30%;
    }

    .elementor-574 .elementor-element.elementor-element-efd30af {
        width: 100%;
    }

    .elementor-574 .elementor-element.elementor-element-6879719 {
        width: 100%;
    }

    .elementor-574 .elementor-element.elementor-element-23c23c9 {
        width: 100%;
    }

    .elementor-574 .elementor-element.elementor-element-35dc297 {
        width: 100%;
    }
}

@media(max-width:1440px) {
    .elementor-574 .elementor-element.elementor-element-74fffc7>.elementor-widget-container {
        padding: 35px 0px 13px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-7ea9e98 {
        padding: 0px 0px 20px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-bdbbc34>.elementor-widget-container {
        padding: 0px 35px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-d84239e>.elementor-element-populated {
        padding: 0px 0px 0px 70px;
    }

    .elementor-574 .elementor-element.elementor-element-efd30af>.elementor-element-populated {
        padding: 0px 70px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-f3400c0 {
        padding: 0px 80px 0px 80px;
    }

    .elementor-574 .elementor-element.elementor-element-41bb359 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-23c23c9>.elementor-element-populated {
        padding: 50px 0px 0px 60px;
    }

    .elementor-574 .elementor-element.elementor-element-35dc297>.elementor-element-populated {
        padding: 50px 110px 0px 50px;
    }

    .elementor-574 .elementor-element.elementor-element-7ee7d0b>.elementor-widget-container {
        padding: 0px 40px 35px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-a785e53>.elementor-container {
        min-height: 800px;
    }

    .elementor-574 .elementor-element.elementor-element-d5d1c9b>.elementor-widget-container {
        padding: 0% 15% 0% 15%;
    }
}

@media(max-width:1024px) {
    .elementor-574 .elementor-element.elementor-element-a2f2e1e>.elementor-element-populated {
        padding: 80px 110px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-cec2e59>.elementor-widget-container {
        padding: 40px 80px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-74fffc7>.elementor-widget-container {
        padding: 35px 110px 13px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-fcb368e {
        padding: 60px 0px 150px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-bfcbedb {
        padding: 80px 0px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-d84239e>.elementor-element-populated {
        padding: 50px 145px 0px 145px;
    }

    .elementor-574 .elementor-element.elementor-element-86f9d93 {
        padding: 110px 0px 110px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-498e413 {
        padding: 0px 0px 110px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-efd30af>.elementor-element-populated {
        padding: 0px 350px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-6879719>.elementor-element-populated {
        padding: 60px 0px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-f3400c0 {
        padding: 0px 70px 0px 70px;
    }

    .elementor-574 .elementor-element.elementor-element-23c23c9>.elementor-element-populated {
        padding: 60px 60px 0px 60px;
    }

    .elementor-574 .elementor-element.elementor-element-35dc297>.elementor-element-populated {
        padding: 50px 40px 50px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-7ee7d0b>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-739f858>.elementor-widget-container {
        padding: 10px 60px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-1f9ef69.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-574 .elementor-element.elementor-element-1f9ef69>.elementor-element-populated {
        padding: 0px;
    }

    .elementor-574 .elementor-element.elementor-element-c9441f8 {
        padding: 0px 90px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-a785e53>.elementor-container {
        min-height: 760px;
    }

    .elementor-574 .elementor-element.elementor-element-76beb52>.elementor-widget-container {
        padding: 90px 0px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-d5d1c9b>.elementor-widget-container {
        padding: 0% 12% 0% 12%;
    }
}

@media(max-width:880px) {
    .elementor-574 .elementor-element.elementor-element-a2f2e1e>.elementor-element-populated {
        padding: 60px 50px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-74fffc7>.elementor-widget-container {
        padding: 35px 60px 13px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-6ac312c>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-d84239e>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-498e413 {
        padding: 0px 0px 110px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-efd30af>.elementor-element-populated {
        padding: 0px 110px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-f3400c0 {
        padding: 0px 60px 0px 60px;
    }

    .elementor-574 .elementor-element.elementor-element-35dc297>.elementor-element-populated {
        padding: 50px 50px 0px 50px;
    }

    .elementor-574 .elementor-element.elementor-element-1f9ef69>.elementor-element-populated {
        padding: 0px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-c9441f8 {
        padding: 0px 60px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-d5d1c9b>.elementor-widget-container {
        padding: 0% 10% 0% 10%;
    }
}

@media(max-width:767px) {
    .elementor-574 .elementor-element.elementor-element-a2f2e1e>.elementor-element-populated {
        padding: 90px 0px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-cec2e59>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-74fffc7>.elementor-widget-container {
        padding: 10px 0px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-e22fa75 {
        padding: 23px 0px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-683d188 {
        width: 50%;
    }

    .elementor-574 .elementor-element.elementor-element-7c6be23 {
        width: 50%;
    }

    .elementor-574 .elementor-element.elementor-element-7c6be23>.elementor-element-populated {
        padding: 0px 0px 0px 20px;
    }

    .elementor-574 .elementor-element.elementor-element-fcb368e {
        padding: 130px 0px 90px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-7ea9e98 {
        padding: 90px 0px 20px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-e0f4b09>.elementor-widget-container {
        padding: 0px 20px 0px 20px;
    }

    .elementor-574 .elementor-element.elementor-element-efec915>.elementor-element-populated {
        padding: 0px 0px 40px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-903d72c>.elementor-element-populated {
        padding: 0px 0px 40px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-6d69fef>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-86f9d93 {
        padding: 100px 0px 110px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-efd30af>.elementor-element-populated {
        padding: 0px 30px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-c9330ea>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 20px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-f3400c0 {
        padding: 0px 30px 0px 30px;
    }

    .elementor-574 .elementor-element.elementor-element-23c23c9>.elementor-element-populated {
        padding: 60px 30px 0px 30px;
    }

    .elementor-574 .elementor-element.elementor-element-35dc297>.elementor-element-populated {
        padding: 60px 40px 0px 40px;
    }

    .elementor-574 .elementor-element.elementor-element-a825a8f>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-1f9ef69>.elementor-element-populated {
        padding: 0px;
    }

    .elementor-574 .elementor-element.elementor-element-c9441f8 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-574 .elementor-element.elementor-element-a785e53>.elementor-container {
        min-height: 930px;
    }

    .elementor-574 .elementor-element.elementor-element-d5d1c9b>.elementor-widget-container {
        padding: 0% 0% 0% 0%;
    }
}